


    
    on late-fs
    # Mount RW partitions which need run fsck
    mount_all /fstab.mt6755 --late

on property:ro.crypto.state=encrypted
setprop crypto.ready 1
install keyring

on boot
start mobicore
    
